.DS_Store
Thumbs.db

bin/
obj/
out/
TestResults/

.idea/
*.sln.iml
_ReSharper*/
*.DotSettings.user

.vs/
.vscode/
*.user

*.log

node_modules/
packages/

*.bak
*.swp
*~
*.tmp

secrets.json
secret.json
**/Secrets/

**/appsettings.Development.json
appsettings.Development.json
*.Development.json

appsettings.Production.json
*.Production.json

*.sqlite
*.db
*.mdf
*.ldf

