@inherits LayoutComponentBase

<!DOCTYPE html>
<html>
<head>
    <link href="css/app.css" rel="stylesheet" />
    <link href="CampusEats.Frontend.styles.css" rel="stylesheet" />
</head>
<body>
@Body
</body>
</html>